[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CA3variants"]
	path = CA3variants
	url = https://github.com/cran/CA3variants
[submodule "CAvariants"]
	path = CAvariants
	url = https://github.com/cran/CAvariants
[submodule "MCAvariants"]
	path = MCAvariants
	url = https://github.com/cran/MCAvariants
